@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #fff;
  --font-color: #333;
};

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato',sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

img {
  /* To fit inside the container */
  width: 100%;
}

/* Navbar */

.navbar {
  background-color: var(--primary-color);
  color:var(--light-color);
  height: 4.75rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--light-color);
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
}

.navbar a:hover {
  border-bottom: 0.15rem var(--light-color) solid;
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: var(--light-color);
  position: relative;
}

.showcase::before, .showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: var(--light-color);
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 40%;
  gap: 3rem;
}

.showcase-form {
  position: relative;
  top: 4rem;
  height: 325px;
  width: 375px;
  padding: 2.5rem;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 2rem 0;
}

.showcase-form input {
  font-family: 'Lato', sans-serif;
}

.showcase-form input[type='text'], 
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4b3cb;
  width: 95%;
  padding: 0.25rem;
}

.showcase-form input:focus {
  outline: none;
}

/* Stats */

.stats {
  padding-top: 100px;
}

.stats-heading {
  max-width: 768px;
  margin: 2rem auto;
}

.stats .grid h3 {
  font-size: 1.75rem;
}

.stats .grid p {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Cli */

/* Here grid is combination of rows and columns */
.cli .grid {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

/* Making cli image to span down the first 2 columns and 2 rows */
.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background-color: var(--light-color);
}

/* Cloud */

.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

/* Languages */

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 1.2rem 0.8rem 2rem;
  transition: transform 0.2s ease-in;
}

.languages .card:hover {
  transform: translateY(-1rem);
}

/* Footer */

.footer .social a {
  margin: 0 1rem;
}

.footer .social a i{
  transition: transform 0.2s ease;
}

.footer .social a i:hover {
  transform: scale(1.2);
  border-radius: 50px;
  cursor: pointer;
}