@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #047aed;
};

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato',sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 1rem 0;
}

p {
  margin: 0.5rem 0;
}

img {
  /* fit inside the container */
  width: 100%;
}

/* Navbar styles */

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 4.75rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
}

.navbar a:hover {
  border-bottom: 0.15rem #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}
/* End of Navbar */

/* Showcase */

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase::before, .showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  transform: skewY(-3deg);
}

.showcase h1 {
  font-size: 3rem;
}

.showcase p {
  margin: 1.5rem 0;
  font-size: 1.25rem;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 60% 40%;
  gap: 2.5rem;
}

.showcase-form {
  position: relative;
  top: 4rem;
  height: 325px;
  width: 375px;
  padding: 2.5rem;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 2rem 0;
}

.showcase-form input[type='text'], 
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4b3cb;
  width: 95%;
  padding: 0.25rem;
  font-size: 1rem;
}

.showcase-form input:focus {
  outline: none;
}

/* Utilities */

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 3rem;
}

.flex {
  display: flex;
  /* default flex direction is row */
  justify-content: center;
  align-items: center;
  /* fit to the container */
  height: 100%;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  padding: 1.25rem;
  margin: 0.8rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
}

.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.btn:hover {
  transform: scale(0.98);
}

/* Grid */
.grid {
  display: grid;
  /* Grid doesnt apply changes like flex */
  /* grid-template-columns: 300px 250px; */
  grid-template-columns: 2fr 1fr;
  /* grid-template-columns: repeat(2, 1fr); */
  /* space in between */
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}