@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #fff;
  --font-color: #333;
};

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato',sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

img {
  /* To fit inside the container */
  width: 100%;
}

/* Navbar */

.navbar {
  background-color: var(--primary-color);
  color:var(--light-color);
  height: 4.75rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--light-color);
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
}

.navbar a:hover {
  border-bottom: 0.15rem var(--light-color) solid;
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: var(--light-color);
  position: relative;
}

.showcase::before, .showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: var(--light-color);
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 40%;
  gap: 3rem;
}

.showcase-form {
  position: relative;
  top: 4rem;
  height: 325px;
  width: 375px;
  padding: 2.5rem;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 2rem 0;
}

.showcase-form input {
  font-family: 'Lato', sans-serif;
}

.showcase-form input[type='text'], 
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4b3cb;
  width: 95%;
  padding: 0.25rem;
}

.showcase-form input:focus {
  outline: none;
}

/* Stats */

.stats {
  padding-top: 100px;
}

.stats-heading {
  max-width: 768px;
  margin: 2rem auto;
}

.stats .grid h3 {
  font-size: 1.75rem;
}

.stats .grid p {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Cli */

/* Here grid is combination of rows and columns */
.cli .grid {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

/* Making cli image to span down the first 2 columns and 2 rows */
.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background-color: var(--light-color);
}

/* Cloud */

.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

/* Languages */

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 1.2rem 0.8rem 2rem;
  transition: transform 0.2s ease-in;
}

.languages .card:hover {
  transform: translateY(-1rem);
}

/* Footer */

.footer .social a {
  margin: 0 1rem;
}

.footer .social a i {
  transition: transform 0.2s ease;
}

.footer .social a i:hover {
  transform: scale(1.2);
  border-radius: 50px;
  cursor: pointer;
}

/* Responsiveness */

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .cli .grid .card {
    padding: 1rem;
    margin: 0 2.5rem;
  }

  .cli .grid *:last-child {
    margin-bottom: 1.5rem;
  }

  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img {
    justify-self: center;
  }

  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }

  .footer .container.grid h1,
  .footer .container.grid p {
    margin: 0;
  }

  .footer .container.grid nav {
    margin: 2rem 0;
  }

  .footer .container.grid nav ul {
    padding: 0;
  }

  .footer .social a {
    margin: 0 1rem 0 0;
  }
}

/* Mobile  */
@media (max-width: 480px) {
  .navbar {
    height: 12rem;
  }

  .navbar .flex {
    flex-direction: column;
    justify-content: initial;
    overflow: hidden;
  }

  .navbar ul {
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .navbar a:hover {
    border-bottom: none;
  }

  .showcase {
    height: 100%;
  }
  
  .showcase-form {
    top: 2rem;
    width: 230px;
  }

  .showcase .grid {
    grid-template-columns: 100%;
    gap: 1rem;
  }

  .showcase-text h1, .footer h1 {
    font-size: 1.5rem;
  }

  .showcase-text p, .cloud .grid p {
    font-size: 1rem;
    margin: 0.5rem 0 1rem;
  }

  .showcase-form.card {
    margin: 0 auto;
    padding: 2rem;
  }

  .stats {
    padding-top: 5rem;
  }

  .stats .grid.grid-3 {
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 0;
  }

  h3.stats-heading {
    font-size: 1.25rem;
    margin: 0.5rem 0 0;
  }

  .stats .grid h3 {
    font-size: 1rem;
    margin: 0.5rem 0 0;
  }

  .stats .grid p {
    margin: 0;
  }

  .cli .grid, .footer .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .cli .grid .card {
    padding: 0;
    margin: 1rem 1.5rem;
  }

  .cli .grid .card h3 {
    font-size: 1rem;
  }

  .cloud {
    padding: 0;
  }

  .cloud .grid {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .cloud .grid h2, .languages h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .cloud .grid a {
    margin-top: 1rem;
  }

  .cloud .grid img {
    margin-top: 2rem;
  }

  .languages .flex .card {
    margin: 0.5rem;
    padding: 1rem;
    min-width: 110px;
    height: 200px;
  }

  .languages .flex *:last-child {
    margin-bottom: 1.5rem;
  }

  .footer .container.grid {
    padding: 0;
  }

  .footer .container.grid h1,
  .footer .container.grid p {
    margin: 0;
  }

  .footer .container.grid nav {
    margin: 1rem 0;
  }

  .footer .container.grid nav ul {
    padding: 0;
  }

  .footer .social a {
    margin: 0 1rem 0 0;
  }
}