/* Text Sizes */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.sm {
  font-size: 1rem;
  font-weight: 300;
}

.md {
  font-size: 1.75rem;
  font-weight: 300;
}

.lg {
  font-size: 2.75rem;
  font-weight: 300;
}

.xl {
  font-size: 4rem;
  font-weight: 300;
}

/* Grid */
.grid {
  display: grid;
  /* Grid doesnt apply changes like flex */
  /* grid-template-columns: 300px 250px; */
  grid-template-columns: 2fr 1fr;
  /* grid-template-columns: repeat(2, 1fr); */
  /* space in between */
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.text-center {
  text-align: center;
}

/* Margins */

.mgy-1 {
  margin: 1rem 0;
}

.mgy-2 {
  margin: 1.5rem 0;
}

.mgy-3 {
  margin: 2rem 0;
}

.mgy-4 {
  margin: 3rem 0;
}

.mgy-5 {
  margin: 4rem 0;
}

.mg-1 {
  margin: 1rem;
}

.mg-2 {
  margin: 1.5rem;
}

.mg-3 {
  margin: 2rem;
}

.mg-4 {
  margin: 3rem;
}

.mg-5 {
  margin: 3.5rem;
}

/* Paddings */

.pdg-1 {
  padding: 1rem;
}

.pdg-2 {
  padding: 1.5rem;
}

.pdg-3 {
  padding: 2rem;
}

.pdg-4 {
  padding: 3rem;
}

.pdg-5 {
  padding: 3.5rem;
}

/* Containers */

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 3rem;
}

.flex {
  display: flex;
  /* default flex direction is row */
  justify-content: center;
  align-items: center;
  /* fit to the container */
  height: 100%;
}

.card {
  background-color: var(--light-color);
  color: var(--font-color);
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  padding: 1.25rem;
  margin: 0.8rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  border-radius: 0.25rem;
}

.btn-outline {
  background-color: transparent;
  border: 1px var(--light-color) solid;
}

.btn:hover {
  transform: scale(0.98);
}

/* Background and Colors */

.bg-primary, .btn-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.bg-dark, .btn-dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.bg-primary a, .btn-primary a, .bg-dark a, .btn-dark a {
  color: var(--light-color);
}